.circularImage {
  border-radius: 100%;
}

.exp1 {
  float: left;
  width: 50%;
}

.exp2 {
  float: right;
  width: 50%;
}

.exp3 {
  float: left;
  width: 50%;
}

.exp4 {
  float: right;
  width: 50%;
}

body {
  margin: 0 auto;
  max-width: 700px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  height: 0px;
  width: 10%;
}
